@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);.localIdentName-navigation__navigation___28v_D {
  padding: 0 28px;
}
.localIdentName-navigation__item___2HHJ_ {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  color: #000;
}
.localIdentName-navigation__logo___3P_Di {
  font-size: 28px;
}
.localIdentName-navigation__active___H_gwE {
  color: #2196F3;
}
.localIdentName-message__message___1emf_ {
  display: none;
  padding: 12px 0;
  border-radius: 4px;
  color: #000;
  font-size: 16px;
  text-align: center;
}
.localIdentName-message__show___Q2yjm {
  display: block;
}
.localIdentName-message__success___2wAl0 {
  background-color: #0F9D58;
  color: #fff;
}


* { box-sizing: border-box; }body {
  margin: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}.localIdentName-main__app___36NQS {
  padding: 8px 24px;
  height: 100%;
  font-weight: normal;
  font-smoothing: antialiased;
}/* Add your global styles below... *//* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/

.localIdentName-entrybox__entrybox___2OA63 {
  width: 100%;
  margin-bottom: 72px;
}
.localIdentName-entrybox__header___3ZJud {
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.localIdentName-entrybox__input___nkdFh {
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0.75rem 1rem;
  border: 2px solid #c3c8ce;
  border-radius: 4px;
  width: 100%;
  background-color: #fff;
  color: #333f48;
  margin-bottom: 0.75rem;
  text-align: center;
  outline: none;
}


.localIdentName-topic-item__topic-item___1IAqs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.localIdentName-topic-item__topic___2KgVD {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  font-size: 16px;
}
.localIdentName-topic-item__button___1jufS {
  font-size: 16px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  margin: 0 28px;
  color: #fff;
}
.localIdentName-topic-item__increment___2v1H7 {
  background-color: #0F9D58;
}
.localIdentName-topic-item__decrement___2rXrH {
  background-color: #2196F3;
}
.localIdentName-topic-item__destroy___CGMtH {
  background-color: #db4437;
}

.localIdentName-main-section__main-section___3Lstn {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
  width: 50%;
  border-radius: 4px;
}
.localIdentName-main-section__header___HaCSk {
  margin: 0;
  padding: 24px;
  border-radius: 4px 4px 0 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  background: #ed193a;
  color: #fff;
}
.localIdentName-main-section__list___3K-oE {
  list-style: none;
  padding: 16px;
}


.localIdentName-scoreboard__scoreboard___rcpC0 {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
  width: 40%;
}
.localIdentName-scoreboard__header___1yRxs {
  margin: 0;
  padding: 24px;
  border-radius: 4px 4px 0 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  background: #0F9D58;
  color: #fff;
}
.localIdentName-scoreboard__list___2OZim {
  padding: 16px;
  list-style: none;
}
.localIdentName-scoreboard__item___oxeuw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.localIdentName-scoreboard__topic____nRrZ {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  font-size: 16px;
}
.localIdentName-vote__vote___2-Rl0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.localIdentName-login__login___2D52F {
  width: 420px;
  margin: 0 auto;
  background-color: #f5f5f6;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
}
.localIdentName-login__waiting___1IvY6 {
  .localIdentName-login__loading___eyJ6c {
    display: block;
  }
}
.localIdentName-login__alternative___3V2Jj {
  background: #fff;
  padding: 12px 8px;
  font-size: 16px;
  text-align: center;
}
.localIdentName-login__alternative-link___m0B2n {
  color: #2196F3;
  font-weight: bold;
  cursor: pointer;
}
.localIdentName-login__loading___eyJ6c {
  display: none;
  text-align: center;
  margin: 24px auto;
}
.localIdentName-login__email-container___1ZgFf {
  padding: 16px 12px;
  border-bottom: 2px solid #e3e3e3;
}
.localIdentName-login__google-container___aRpbh {
  padding: 16px 12px;
}
.localIdentName-login__header___1cqA1 {}
.localIdentName-login__heading___RWywa {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 12px;
  text-align: center;
}
.localIdentName-login__input___1vPBM {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0.75rem 1rem;
  border: 2px solid #c3c8ce;
  border-radius: 4px;
  width: 100%;
  background-color: #fff;
  color: #333f48;
  margin-bottom: 0.75rem;
}
.localIdentName-login__message___2-_ft {
  color: #ed193a;
  font-size: 12px;
}
.localIdentName-login__button___2-G3u {
  display: block;
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  transition: 0.1s background-color ease;
  color: #fff;
  background: #0F9D58;
  border-color: #0F9D58;
}
.localIdentName-login__button___2-G3u:hover {
  background: #0b6e3e;
  border-color: #0b6e3e;
}
.localIdentName-login__hint___3abjy {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #b4bac1;
}

.localIdentName-about__header___nwCjv {
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.localIdentName-about__description___1HbBD { font-size: 16px; font-weight: 400; line-height: 24px; }

.localIdentName-about__contribute___13gkj { font-size: 12px; font-weight: 400; line-height: 24px; }

/*# sourceMappingURL=e3a24d9278537da487ca5f0959f057c5.css.map*/